body, html {
	margin: 0;
	padding: 0;
    background: #000;
    overflow: hidden;
}
.hidden {
	display: none;
}
.hidden-block div {
    visibility: hidden;
}
.puzzle {
    border: 1px solid red;
    width: 240px;
    height: 240px;
    margin: 10px auto;
    position: relative;
}
.puzzle-block {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    outline: 1px dotted red;
    transition: all 0.5s ease-in-out; 
}
.puzzle-block div {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 40px 40px 0;
    border-color: transparent transparent red transparent;
    /*margin-top: 20px;*/
}
.puzzle-block-left {
    transform: rotate(90deg);
}
.puzzle-block-top {
    transform: rotate(180deg);
}
.puzzle-block-right {
    transform: rotate(270deg);
}
.puzzle-block-bottom {
    /* Default */
}
.puzzle-block-low div {
    border-bottom-color: rgba(255, 0, 0, 0.25);
}
.puzzle-block-med div {
    border-bottom-color: rgba(255, 0, 0, 0.66);
}
.puzzle-block-high div {
    /* Default */
}